body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.links {
  padding: 3rem;
  li {
    line-height: 1.4;
    margin-bottom: 0.25rem;
  }
}
.container {
  width: 100%;

  // max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  // background: url(../images/vein-texture.png);
}

.scroll-section {
  min-height: 200vh;
  padding: 3rem;
  position: relative;
  top: 100vh;
  z-index: 1;
}
.dg {
  z-index: 1000;
}
